h1 {
  display: flex;
  justify-content: center;
  size: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: bold;
}
.background {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: white;
}
.textLogo {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  width: auto;
  height: auto;
  max-width: 200px;
  max-height: 100px;
}
.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-top: 130px;
  height: 100%;
  width: 50%;
  background-color: white;
}

.textInput {
  width: 300px;
  height: 25px;
  margin-top: 10px;
  margin-bottom: 30px;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom: 2px solid black;
  outline: none;
}

.loginButton {
  width: 310px;
  height: 35px;
  color: white;
  background-color: black;
  margin-top: 20px;
  margin-bottom: 40px;
  border: none;
  cursor: pointer;
}

.ask {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 310px;
  height: 35px;
  background-color: white;
  margin-bottom: 60px;
  border: 1px solid gray;
  color: rgb(87, 89, 91);
  cursor: pointer;
}
.click {
  color: #9a4aeb;
  cursor: pointer;
}
