.background {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #d5b7f4;
}
.textLogo {
  display: block;
  margin: auto;
  margin-bottom: 50px;
  width: auto;
  height: auto;
  max-width: 200px;
  max-height: 100px;
}
.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  height: 100%;
  width: 50%;
  background-color: white;
}

//특이사항 없으면 아이디랑 패스워드 css 합쳐야지
.emailInput {
  width: 300px;
  height: 25px;
  margin-top: 50px;
  margin-bottom: 20px;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom: 2px solid black;
}

.passwordInput {
  width: 300px;
  height: 25px;
  margin-top: 10px;
  margin-bottom: 50px;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom: 2px solid black;
}

.loginButton {
  width: 310px;
  height: 35px;
  color: white;
  background-color: black;
  margin-bottom: 50px;
  border: none;
}
.button {
  cursor: not-allowed;
}

.ask {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 310px;
  height: 35px;
  background-color: white;
  margin-bottom: 60px;
  border: 1px solid gray;
}
.click {
  color: #9a4aeb;
  cursor: pointer;
}
