.background {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #d5b7f4;
}
.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.textLogo {
  display: block;
  margin: auto;
  margin-bottom: 70px;
  width: auto;
  height: auto;
  max-width: 200px;
  max-height: 100px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  height: 100%;
  width: 50%;
  background-color: white;
}
.agreementBox {
  border: 1px solid rgb(193, 191, 191);
  padding: 10px;
}
.allCheck {
  border-bottom: 1px solid rgb(193, 191, 191);
}

.signupButton {
  width: 310px;
  height: 35px;
  color: white;
  background-color: black;
  border: none;
  margin-top: 30px;
}
.padding_10 {
  padding-bottom: 10px;
}
