.background {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: white;
}
.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.textLogo {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  width: auto;
  height: auto;
  max-width: 200px;
  max-height: 100px;
}

.detail {
  align-items: right;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}
.nextIcon {
  margin-left: 10px;
  width: 10px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-top: 100px;
  height: 100%;
  width: 50%;
  background-color: white;
}
.agreementBox {
  border: 1px solid rgb(193, 191, 191);
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 10px;
}
.allCheck {
  border-bottom: 1px solid rgb(193, 191, 191);
}

.signupButton {
  width: 310px;
  height: 35px;
  color: white;
  background-color: black;
  border: none;
  margin-top: 30px;
  cursor: pointer;
}
.must {
  color: #d5b7f4;
  font-size: 15px;
}
.agreeList {
  margin: 20px;
}
.padding_15 {
  padding-top: 15px;
  padding-bottom: 20px;
}
