.editContainer {
  display: flex;
  justify-content: center;
  padding: 150px 0;

  .width70 {
    width: 60%;
  }
  .title {
    margin-bottom: 50px;
  }
  .profileImg {
    margin-bottom: 50px;
    span {
      display: block;
      width: 170px;
      height: 170px;
      border-radius: 50%;
      background: url('../../assets/images/user_icon16.png');
      background-size: 150px 150px;
      background-position: center;
      background-repeat: no-repeat;
      box-shadow: 2px 2px 5px #ddd;
    }
  }
  .borderBottom {
    padding: 10px 0;
    margin-bottom: 30px;
    border-bottom: 1px solid #333;
    span {
      font-size: 14px;
      color: #666;
    }
  }
  .inputGroup {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .nickName {
    h3 {
      margin-right: 250px;
    }

    input {
      padding: 15px;
      width: 40%;
      border: 1px solid #ddd;
      border-radius: 5px;
      &:focus {
        outline: none;
      }
    }
  }
  .interestTag {
    h3 {
      margin-right: 100px;
    }
    select {
      padding: 15px;
      width: 60%;
      border: 1px solid #ddd;
      border-radius: 5px;
      &:focus {
        outline: none;
      }
    }
  }
  .buttonArea {
    display: flex;
    justify-content: flex-start;
    button {
      padding: 8px 25px;
      border-radius: 5px;
      border: none;
      &:nth-child(1) {
        margin-right: 10px;
      }
    }
    .bkButton {
      background: #000;
      color: #fff;
    }
    .rdButton {
      background: #ff3217;
      color: #fff;
    }
  }
}
