.background {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: white;
}
.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.textLogo {
  display: block;
  margin: auto;
  width: auto;
  height: auto;
  margin-bottom: 20px;
  max-width: 200px;
  max-height: 100px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-top: 80px;
  height: 100%;
  width: 50%;
  background-color: white;
}

.textInput {
  width: 300px;
  height: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom: 2px solid black;
  outline: none;
}
.loginText {
  width: 220px;
  height: 25px;
  margin-right: 7px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom: 2px solid black;
  outline: none;
}
.repetition {
  width: 75px;
  height: 28px;
  border: none;
  color: white;
  background-color: black;
}

// .checkBox {
//   margin-top: 20px;
// }
.ask {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.click {
  color: #9a4aeb;
  cursor: pointer;
}
.signupButton {
  width: 310px;
  height: 35px;
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
}
.button {
  cursor: not-allowed;
}
