.modal {
  position: absolute;
  top: 0;
  left: 0;
  // transform: translate(-50%, -50%);
  // margin: 0 auto;

  // height: 100%;
  // width: 100%;
  // overflow: hidden;

  // ::-webkit-scrollbar {
  //   display: none;
  // }
  // scrollbar-width: none;
  // overflow-y: scroll;
}
